.custom-header {
  background-color: #000080;
  border: 3px solid white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.header-text .line-1,
.header-text .line-2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.header-text .line-3 {
  font-weight: 600;
  font-size: 1rem;
}

.logo-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo-img {
  height: auto;
  width: 70px;
  object-fit: contain;
  border-radius: 20px;
  margin-right: 10px;
}

.title, .subtitle, .text-logo, .text-logo-gra {
  font-family: 'Fulldozer', sans-serif;
  line-height: 1.2;
  color: #fefefe;
}

.text-logo {
  color: #E423FF;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: initial;
  filter: drop-shadow(2px 2px 0 #000) drop-shadow(-2px 2px 0 #000)
          drop-shadow(2px -2px 0 #000) drop-shadow(-2px -2px 0 #000);
}
.text-logo::first-letter {
  color: #22FEFF;
}

.text-logo-gra{
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #E423FF, #22FEFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 0 #000) drop-shadow(-2px 2px 0 #000)
          drop-shadow(2px -2px 0 #000) drop-shadow(-2px -2px 0 #000);
}