main {
  padding: 2rem 0;
}

.principal {
  background: linear-gradient(
    180deg,
    hsla(181, 100%, 79%, 1) 0%,
    hsla(229, 100%, 71%, 1) 64%
  );
  width: auto;
  height: 946.5px;
}

.content-area {
  padding-top: 1rem;
}

.card-disciplina-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  row-gap: 55px;
  column-gap: 79px;
  justify-items: center;
  width: 1049px;
  height: 447px;
}

.container-principal {
  width: 1181px;
  height: 537px;
  background-color: white;
  margin-inline: auto;
  margin-top: 29px;
  border-radius: 0 40px 40px 40px;
  padding-inline: 64px;
  padding-top: 10px;
}

.titulo-principal {
  background: white;
  display: flex;
  padding: 0.5rem 1rem;
  margin-left: 343px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 517px;
}


.semestre-ativo {
  border: 2px solid var(--mlp-cyan);
  background-color: rgba(34, 254, 255, 0.1);
}

@media (max-width: 768px) {
  .card-disciplina-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    padding: 1rem;
  }
}


.fade-slide-enter-active {
  transition: all 0.5s ease;
}
.fade-slide-leave-active {
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}
.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(15px);
}
